.container {
  min-height: 100vh;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product {
  position: relative;

  margin-left: -100px;

  > img {
    object-fit: cover;
    width: 449px;
  }

  > button {
    position: absolute;
    top: 0;
    right: 63px;

    display: grid;
    place-items: center;

    background-color: transparent;
    border: transparent;
  }
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  > div {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Crimson Pro", serif;
      font-size: 2rem;
      font-weight: 600;
    }

    span {
      text-transform: uppercase;
      font-size: 0.625rem;
      font-weight: 300;

      & ~ span {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  > button {
    width: fit-content;
    padding: 0.5rem 1rem;

    background-color: transparent;
    border: 1px inset var(--purple-600);
    border-radius: 999px;

    text-transform: uppercase;

    transition: 0.2s;

    &:hover {
      color: var(--pink-300);
      background: var(--purple-600);
    }
  }
}
